<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en angular - usualmente en el common module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}} es un placer 
            {{genero | i18nSelect:invitacionMapa}} 
            al evento de Angular.
            </p>
            <button pButton type="button" 
                    (click)="cambiarCliente()" 
                    class="p-button-help"
                    label="Cambiar Persona" 
                    icon="pi pi-check" 
            ></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                {{clientes.length | i18nPlural:clientesMapa}} cliente esperando.
            </p>
            
            <button pButton type="button" 
                    (click)="borrarCliente()" 
                    class="p-button-help"
                    label="Borrar Cliente" 
                    icon="pi pi-check" 
            ></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <p>Originales</p>
            <pre>{{clientes}}</pre>

            <p>Slice:0:2</p>
            <pre>{{clientes | slice:0:2}}</pre>

            <p>Slice:1:2</p>
            <pre>{{clientes | slice:1:2}}</pre>

            <p>Slice:2:3</p>
            <pre>{{clientes | slice:2:3}}</pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    {{item.key}}: {{item.value}}
                </li>
            </ul>
        </p-fieldset>
    </div>
</div>