<app-menu></app-menu>

<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  label="Cambiar nombre"
  class="p-button-help"
  icon="pi pi-bell"
  iconPos="right"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda rem ea
  sunt, sit tempore aliquam quaerat quo esse eaque saepe animi ipsum aut earum
  in nam dolores incidunt id officia!
</p-card> -->
